# ======================
# Fiber Config
# ======================
PRODUCTION_PORT=
ALLOW_CORS=

# ======================
# Database Config
# ======================
DB_HOST=
DB_NAME=
DB_OWNER=
DB_PASSWORD=
DB_PORT=

# ======================
# Log Config
# ======================
LOG_PATH=

# ======================
# Erogamescape Config
# ======================
EROGS_ENDPOINT=
# Second
EROGS_RATE_LIMIT_RESET_TIME=10

# ======================
# proxy basic Config
# ======================
# 留空代表不使用 proxy；可填 vpn 或 private。
PROXY_USE=

# ======================
# vpn proxy Config（PROXY_USE=vpn）
# ======================
PROXY_ADDRESS=
PROXY_AUTH_USER=
PROXY_AUTH_PASSWORD=
PROXY_PORT=

# ======================
# private proxy Config（PROXY_USE=private）
# ======================
PROXY_PRIVATE_IP=
PROXY_PRIVATE_PORT=
